.btn:hover{
    background-color: rgb(169, 169, 221);
}
body{
    text-align: center;
    color: #000000;
    background-color: rgb(159, 159, 226);
}
table{
    width: 80%;
    margin-left: 10%;
    border: solid 2px #003cff;
    border-radius: 15px;
}
tr, td{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border: solid 2px #003cff;
    border-radius: 15px;
}
td{
    width: 20vw;
}
textarea, input{
    width: 98%;
    border: none;
    border-radius: 15px;
    text-align: center;
}

